doctype
html
  head
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    link(rel="stylesheet", href="/css/main.css")

  body
    main
     o hai
    script(src="/js/app.js")

